apiVersion: v1
kind: Secret
metadata:
  name: testbench-secrets
type: Opaque

stringData:
  contactPoint: lorem-ipsum
  clientSecret: lorem-ipsum
  cloudClientSecret: lorem-ipsum
  internalCloudClientSecret: lorem-ipsum
  internalCloudPassword: lorem ipsum
  slackToken: lorem-ipsum
  sheetsApiKeyfileContent: lorem-ipsum
  